body,
html,
.root {
  height: 100%;
  width: 100%;
}

.root {
  font-family: sans-serif;
  background: #111;
  color: white;
}

.selection-area-highlight {
  stroke: #fff;
  stroke-width: 4px;
}

a {
  color: rgb(255, 166, 0);
}

.app-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.app-sidebar {
  background: #222;
}

.app-sidebar-scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 1rem;

  & > div {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
}

.app-map {
  flex-grow: 1;
}

.map-svg {
  display: block;
  width: 100%;
  height: 100%;
}

.token-list {
  display: flex;
  flex-wrap: wrap;
}

.token-image {
  $size: 32px;
  background: #555;
  width: $size;
  height: $size;
  border-radius: $size;
  background-position: center center;
  background-size: cover;
}
.token-preview {
  font-size: 0.8rem;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.token-stack {
  position: relative;
  height: 32px;
  width: 12px + 32px;
  & > div {
    position: absolute;
    top: 0;
  }
}

// log
.log {
  padding: 5px;
  width: 30vw;
  min-width: 300px;
  background-color: rgba(51, 51, 51, 0.6);
}

.log-text {
  overflow-y: auto;
  max-height: 40vh;
  font-size: 0.8rem;
  padding-left: 17px;
}

.log-title {
  display: flex;
  justify-content: space-between;
}

.collapse-button {
  padding: 0px;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  line-height: 32px;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}

.collapsible-header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.bottom-floats-wrapper {
  // Set the height to 0, so that it does not (invisibly) overlap the map.
  // Without explicitly setting the height to 0, the following problem arises:
  // Open the chat, but close the log. Now it is impossible to interact with the
  // map to the right of the chat.
  height: 0;

  position: fixed;
  bottom: 0px;
  right: 0px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 0 4px;

  & > * {
    margin-left: 8px;
  }
}

// This is just the CSS for the unopened collapsed chat wrapper.
// The rest of the CSS is located in PrivateChats.scss and only loaded if the
// chat is opened.
.private-chats-wrapper {
  background-color: #333;
  min-width: 200px;
  max-width: 400px;

  .collapsible-header {
    padding: 4px 8px 0;

    small {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: orange;
    }
  }
}

$gmAreaColor: #ab62c0;

.gm-area {
  border: 1px solid $gmAreaColor;
  padding: 4px;
  margin-top: 7px;
  position: relative;
  background-color: inherit;

  &::before {
    position: absolute;
    color: $gmAreaColor;
    content: "GM only";
    font-size: 12px;
    text-transform: uppercase;
    top: -9px;
    left: 4px;
    padding: 0 3px;
    background-color: #222;
  }
}

.initiative-tracker {
  & > ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;

      p {
        padding: 0 1rem;
        flex-grow: 1;
      }

      input {
        text-align: right;
        width: 3rem;
      }
    }
  }

  .initiative-tracker-turn-done {
    width: 100%;
    margin-bottom: 1rem;
  }

  .initiative-tracker-roll {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 100%;
    }

    input {
      width: 3rem;
    }
  }
}