body, html, .root {
  height: 100%;
  width: 100%;
}

.root {
  font-family: sans-serif;
  background: #111;
  color: white;
}

.globalClass_background_yellow {
  background: yellow;
}

.selection-area-highlight {
  stroke: #fff;
  stroke-width: 4px;
}
