.quick-reference {
  position: fixed;
  z-index: 999;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.5);
}

.quick-reference-modal {
  input[type="search"] {
    height: 4rem;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;
  }

  dt {
    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;
  }

  dt {
    font-weight: bold;
    &::after {
      content: ":";
    }
  }
}
