@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  select,
  textarea {
    color: rgba(0, 0, 0, 0.87);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  a[href] {
    @apply text-yellow-500;
  }
}

@layer components {
  .list-row {
    @apply even:bg-rr-700 hover:even:bg-rr-600 odd:bg-rr-700/50 hover:odd:bg-rr-600/50 border-t border-b border-rr-400;
  }

  .hud-panel {
    @apply bg-rr-800/90 rounded;
  }
}

@keyframes reveal-circle {
  0% {
    transform: scale(0);
    background: #0f0;
  }
  99% {
    background: #0f0;
  }
  100% {
    transform: scale(1);
    background: #00f;
  }
}
